<div class="row">
    <div class="col s6 m3">
        <div class="card">
            <div class="card-content black-text">
                <div class="card-title">
                    <a href=""  ng-click='adhomeCtrl.go("admin.addschema", "Add Schema")' class="" >Add Schema</a>
                </div>
            </div>
        </div>
    </div>
        <div class="col s6 m3">
        <div class="card">
            <div class="card-content black-text">
                <div class="card-title">
                   <a href=""  ng-click='adhomeCtrl.go("admin.editschema", "Edit Schema")'  class="" >Edit Schema</a>
                </div>
            </div>
        </div>
    </div>
        <div class="col s6 m3">
        <div class="card">
            <div class="card-content black-text">
                <div class="card-title">
                    <a href="" ng-click='adhomeCtrl.go("admin.deleteschema", "Delete Schema")' class="" >Delete Schema</a>
                </div>
            </div>
        </div>
    </div>
        <div class="col s6 m3">
        <div class="card">
            <div class="card-content black-text">
                <div class="card-title">
                    <span>coming soon</span>
                </div>
            </div>
        </div>
    </div>
</div>