<h1>This is login Screen.</h1>

<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content black-text">
                <div class="card-title">
                    <span>Log In</span>
                </div>
                <form>
                    <div class="row">

                        <div class="input-field">
                            <input type="email" id="emailid" required ng-model='loginCtrl.userModelData.EmailId'>
                            <label for="emailid">Email address</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <input type="password" id="password" required ng-model='loginCtrl.userModelData.Password'>
                            <label for="password">Password</label>
                        </div>
                    </div>

                    <div class="row">
                        <button type="submit" class="btn as-btn-red" ng-click='loginCtrl.Authenticate();'>LOG IN</button>
                        <span>Forgot Password?<a href='#' ui-sref='user.resetpassword'> CLICK HERE</a></span>

                </form>
                </div>
            </div>
        </div>
    </div>