<div class="col s12 m12">
    <div class="input-field as-edit-field" ng-if="field.config.editable">
        <a href="" class='prefix active' ng-class="{'as-edit':!asInputCtrl.isEdit, 'as-undo':asInputCtrl.isEdit}"></a>
        <input type={{::field.attr.type}} ng-disabled='(field.config.disabled || field.config.editable) && !asInputCtrl.isEdit' id={{::field.attr.key}}
            ng-model='model[field.name]' ng-required='field.config.required' />
        <label for={{::field.attr.key}}>{{::field.attr.label}}</label>
    </div>
    <div class="input-field" ng-if="!field.config.editable">
        <input type={{::field.attr.type}} ng-disabled='field.config.disabled' id={{::field.attr.key}} ng-model='model[field.name]'
            ng-required='field.config.required' />
        <label for={{::field.attr.key}}>{{::field.attr.label}}</label>
    </div>
</div>

