
<div class="row">
    <as-config-ui form-config='editschemaCtrl.pageSchema' actions="editschemaCtrl.formBtn" form-type ='0' form-title='Add Schema'></as-config-ui>
</div>


<!--<as-cards form-type='editschemaCtrl.type' form-title='editschemaCtrl.title'>
    <div class='row'>
        <div class='col s12 m6 grid-example'>
            <span>Anup </span>
            <a href="" ng-click="editField($index)" class="as-edit right-align"></a>
            <a href="" ng-click="deleteField($index)" class="as-delete right-align"></a>
        </div>
        <div class='col s12 m6 grid-example'>
            <span>Saw </span>
            <a href="" ng-click="editField($index)" class="as-edit right-align"></a>
            <a href="" ng-click="deleteField($index)" class="as-delete right-align"></a>
        </div>
    </div>
    <div class='row'>
        <div class='col s12 m6 grid-example'>
            <span>Test3 </span>
            <a href="" ng-click="editField($index)" class="as-edit right-align"></a>
            <a href="" ng-click="deleteField($index)" class="as-delete right-align"></a>
        </div>
    </div>
    <div class='row'>
         <div class='col s12 m6 grid-example'>
            <span>Test3 </span>
            <a href="" ng-click="editField($index)" class="as-edit right-align"></a>
            <a href="" ng-click="deleteField($index)" class="as-delete right-align"></a>
        </div>
    </div>
    <div class='row'>
        <div class='col s12 m12 grid-example'> Bole</div>
    </div>
    <div class='row'>
        <div class='col s12 m6 grid-example'>Ab </div>
    </div>
    <div class='row'>
        <div class='col s12 m6 grid-example'>Hum </div>
    </div>
</as-cards>-->