<div>
    <h3>Investments Locker</h3>
</div>

<div>
    <div class="row">
        
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content black-text">
                    <div class="card-title">
                        <span>Keep your all the investmenst in one place and track moment to moment.</span>
                    </div>
                    <div class="row">
                        
                        <span>Register with us<a href='#' ui-sref='user.signup'> REGISTER HERE.</a> or <a href='#' ui-sref='user.login'> LOGIN.</a></span>
                    </div>
                    <div class="row">
                         <a href='' ng-click="homeCtrl.ShowToast();" class='waves-effect waves-white btn as-btn-red' >GUIDE ME</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>